In [3]:
import pandas as pd

In [5]:
xlfile = pd.ExcelFile('excel.xlsx')

In [7]:
dframe = xlfile.parse('Sheet1')

In [9]:
dframe

    roll no.  marks 1  marks 2  Total
0          1       61       88    149
1          2       46       91    137
2          3        6        1      7
3          4       11       16     27
4          5       27       40     67
5          6       66       98    164
6          7       49       82    131
7          8       56       78    134
8          9       83      100    183
9         10       86       25    111
10        11       43        6     49
11        12       68       40    108
12        13       22       79    101
13        14       95       76    171
14        15       47       81    128
15        16       39       49     88
16        17        7       31     38
17        18       81       43    124
18        19       30       57     87
19        20       25        3     28